---
virtualmachines:
  - name: "builder"
    image: "rhel-10-0-07-09-25-3"
    bootloader: efi
    memory: "16G"
    cores: 8
    image_size: "40G"
    tags:
      - key: "AnsibleGroup"
        value: "bastions"
    networks:
      - default
    packages:
      - podman
      - skopeo
      - virt-install
      - libvirt
      - qemu-kvm
      - libvirt-nss
      - nano
      - nginx
      - openscap-utils
      - scap-security-guide
    services:
      - name: registry-http
        ports:
          - port: 80
            protocol: TCP
            targetPort: 80
            name: registry-http
      - name: registry
        ports:
          - port: 443
            protocol: TCP
            targetPort: 443
            name: registry
      - name: hostinfo
        ports:
          - port: 8080
            protocol: TCP
            targetPort: 8080
            name: hostinfo
    routes:
      - name: registry-http
        host: registry
        service: registry-http
        targetPort: 80
        tls: false
        path: "/.well-known/"
      - name: registry
        host: registry
        service: registry
        targetPort: 443
        tls: true
      - name: hostinfo
        host: hostinfo
        service: hostinfo
        targetPort: 8080
        tls: false
    terminals:
      - name: wetty_bootc_vm
        command: /root/.wait_for_bootc_vm.sh
      - name: wetty_iso_vm
        command: /root/.wait_for_iso_vm.sh

  - name: "imrhel"
    image: "rhel-10-0-07-09-25-3"
    bootloader: efi
    memory: "4G"
    cores: 2
    image_size: "40G"
    tags:
      - key: "AnsibleGroup"
        value: "nodes"
    networks:
      - default
    services:
      - name: app
        ports:
          - port: 80
            protocol: TCP
            targetPort: 80
            name: app
    routes:
      - name: app
        host: app
        service: app
        targetPort: 80
        tls: false
